.AddTeam {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
}

.AddTeam input {
    padding: 20px;
    border: none;
    outline: none;
    font-size: 14px;
    font-weight: 400;
    background-color: rgb(255, 255, 255, 0.1);
    color: #ffffff;
    width: 70%;
}

.AddTeam button {
    padding: 20px;
    outline: none;
    font-size: 14px;
    font-weight: 400;
    background-color: transparent;
    color: #205BF1;
    cursor: pointer;
    border: 1px solid #205BF1;
}